* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav bar section */
#nav-bar {
  margin-top: 0;
  padding: 0;
  background-color: #f5f3e586;
  /* background-color: #575757; */
}
.navbar-toggler {
  border: none;
  padding-right: 1rem;
}
.hamburger-btn {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}
#basic-nav-dropdown {
  color: black;
  padding: 0;
  border: none !important;
}
.myNav-link {
  color: black;
  font-weight: 500;
}
.myNav-link:hover {
  text-decoration: none;
  color: black;
}

/* end of nav bar section */

/* first corousel section */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.visually-hidden {
  display: none;
}
/* end of first corousel section */

/* who we are  */
.who-we-are {
  background: url(/img/2aa396_300dbc86c2dd4450af3430e33f049da9_mv2.jpg);
  height: 400px;
  margin: 3rem 0;
}
.my-text-box {
  display: flex;
  justify-content: end;
}
.text-box {
  background-color: rgba(111, 111, 111, 0.587);
  width: 28rem;
  height: 390px;
  margin: 0.25rem 1rem;
  padding: 1rem;
}
.text-box h1 {
  color: white;
  font-weight: 700;
}
.text-box p {
  color: white;
  font-size: x-large;
  font-weight: 400;
}
/* end of who we are  */

/* get involved */
.donate-btn {
  background-color: #f03200;
  padding: 0.8rem;
  border-radius: 30px;
  border: none;
  color: white;
}
.join-network-btn {
  background-color: #f8b705;
  padding: 0.8rem;
  border-radius: 30px;
  border: none;
  color: white;
}
.support-btn {
  background-color: #efad4d;
  padding: 0.8rem;
  border-radius: 30px;
  border: none;
  color: white;
}
.volunteer-btn {
  background-color: #116984;
  padding: 0.8rem;
  border-radius: 30px;
  border: none;
  color: white;
}
/* get involved */

/* who we are 2  */
.who-we-are2 {
  background: url(/img/2aa396_16e1bf3357394eb89f87bc147bd92c5a_mv2.jpg);
  height: 286px;
  margin: 3rem 0;
}
.my-text-box2 {
  display: flex;
  justify-content: end;
}
.text-box2 {
  background-color: rgba(111, 111, 111, 0.587);
  width: 28rem;
  height: 278px;
  margin: 0.25rem 1rem;
  padding: 0.5rem;
}
.text-box2 p {
  color: white;
  font-weight: 400;
}
.un-button:hover {
  text-decoration: none;
}
/* end of who we are 2 */

.dropdown-menu {
  border: none;
  background-color: white;
}

.socials {
  display: flex;
}
.socials li {
  font-size: 1.5rem;
  list-style: none;
  margin-left: 1rem;
}
.socials a {
  color: white;
}

.foot {
  margin-top: 1.5rem;
  padding: 0.5rem;
  background-color: #000000b1;
  color: white;
}
.foot {
  margin-bottom: 0;
}
/* videos */
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
/* About */
.abt-us {
  border-radius: 32px;
}
.support-mission {
  width: 15rem;
  border: 0;
  border-radius: 8px;
  padding: 1rem;
  background-color: #d9544f;
  color: white;
}

.sam1 {
  border-radius: 25%;
}
/* list of rare diseases */
.list-o-rd {
  min-height: 90vh;
}
.rd-list {
  padding: 1rem;
  border: none;
  color: white;
  background-color: #61ce70;
  border-radius: 8px;
}
/* orphan zone */
#orphan-zone {
  min-height: 90vh;
}
.orphan-zone h1 {
  font-weight: 700;
  background-color: #f6f0f0;
}
/* URD trust fund  */
.URD-bottom {
  background-color: #f6f0f0;
}
.aa {
  overflow: hidden;
}
.URD-bottom img {
  transition: 2s all linear;
}
.URD-bottom img:hover {
  transform: scale(1.1);
  transition: 2s all linear;
}
/* networks */
#networks {
  min-height: 90vh;
}
#networks a {
  color: black;
}
#networks a:hover {
  color: black;
  text-decoration: none;
}
.networkEmail {
  color: black;
}
.networkEmail:hover {
  color: black;
  text-decoration: none;
}
.network-img {
  max-height: 30rem;
  margin-top: -5rem;
}
/* contact section */
#contact-section {
  min-height: 90vh;
}
